<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/default}"
      with:title="'Add/Update User'">

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    &lt;!&ndash; css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
<!--    <link rel="stylesheet" type="text/css" media="all" href="../../../../static/css/styles.css"-->
<!--          th:href="@{/css/styles.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" media="all" href="../../../../static/css/form-styles.css"-->
<!--          th:href="@{/css/form-styles.css}"/>-->

<!--    &lt;!&ndash; Title &ndash;&gt;-->
<!--    <title>Add/Update User</title>-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; Body Container &ndash;&gt;-->
<!--<div class="body-container">-->

<!-- bodyContents:start-->
<th:block layout:fragment="bodyContents"> <!-- bodyContents:start-->
    <div class="page-body"> <!-- pageBody:start -->

        <!-- Form -->
        <div class="form-style">
            <h2 class="center-align">
                <!-- if user.getId() is null -->
                <span th:text="${user.id == null} ? 'Create ' : 'Update '"/> User
            </h2>
            <form action="#" th:action="@{/users/save}" th:object="${user}" method="post">
                <div class="section"><span>*</span>User Details</div>
                <input type="hidden" name="id" th:field="*{id}">
                <div class="inner-wrap">
                    <label><div>Email</div>
                        <input type="email" th:field="*{email}"
                               name="email" placeholder="Email"/>
                    </label>
                    <label><div>First Name</div>
                        <input type="text" th:field="*{firstName}"
                               name="firstName" placeholder="First Name"/>
                    </label>
                    <label><div>Middle Name</div>
                        <input type="text" th:field="*{middleName}"
                               name="middleName" placeholder="Middle Name"/>
                    </label>
                    <label><div>Last Name</div>
                        <input type="text" th:field="*{lastName}"
                               name="lastName" placeholder="Last Name"/>
                    </label>
                    <label><div>Status</div>
                        <input type="text" th:field="*{status}"
                               name="status" placeholder="Status"/>
                    </label>
                    <label>
                        <input type="checkbox" th:field="*{testUser}"
                               name="testUser" placeholder="Test User"/>
                        <span>Test User</span>
                    </label>
                    <label><div>Registered On</div>
                        <input type="text" th:field="*{registeredOn}"
                               name="registeredOn" placeholder="Registered On" readonly/>
                    </label>
                    <label><div>Country Code</div>
                        <input type="text" th:field="*{countryCode}"
                               name="countryCode" placeholder="Country Code"/>
                    </label>
                    <label><div>Phone Number</div>
                        <input type="text" th:field="*{phoneNumber}"
                               name="phoneNumber" placeholder="Phone Number"/>
                    </label>
                    <label><div>Date of Birth</div>
                        <input type="date" th:field="*{dob}"
                               name="dob" placeholder="Date of Birth"/>
                    </label>
                    <label><div>Referral Code</div>
                        <input type="text" th:field="*{referralCode}"
                               name="referralCode" placeholder="Referral Code"/>
                    </label>
                </div>

                <div class="button-section">
                    <input type="submit" name="Submit"/>
                    <a class="button" th:href="@{/users}">Cancel</a>
                </div>
            </form>

        </div>

    <!--Back Button -->
<!--    <div>-->
<!--        <a class="button" href="listUsers.html" th:href="@{/users/list}">Back</a>-->
<!--    </div>-->


    </div> <!-- pageBody:end -->
</th:block> <!-- bodyContents:end-->

<!-- Footer -->
<!--<div th:replace="~{fragments/footer::footer}">Footer</div>-->
<footer class="footer">
    <div th:insert="~{fragments/footer::footer}"></div>
</footer>

</html>