<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/default}"
      with:title="'Add/Update User'">

<!-- bodyContents:start-->
<th:block layout:fragment="bodyContents"> <!-- bodyContents:start-->
    <div class="page-body"> <!-- pageBody:start -->
        <!-- Form -->
        <div class="form-style">
            <h2 th:text="${user.id == null} ? 'Create User' : 'Update User'"></h2>
            <form action="#" th:action="@{/users/save}" th:object="${user}" method="post">
                <div class="section"><span>*</span>User Details</div>
                <input type="hidden" name="id" th:field="*{id}">
                <div class="inner-wrap">
                    <label><div>Email</div>
                        <input type="email" th:field="*{email}"
                               name="email" placeholder="Email"/>
                    </label>
                    <label><div>First Name</div>
                        <input type="text" th:field="*{firstName}"
                               name="firstName" placeholder="First Name"/>
                    </label>
                    <label><div>Middle Name</div>
                        <input type="text" th:field="*{middleName}"
                               name="middleName" placeholder="Middle Name"/>
                    </label>
                    <label><div>Last Name</div>
                        <input type="text" th:field="*{lastName}"
                               name="lastName" placeholder="Last Name"/>
                    </label>
                    <label><div>Status</div>
                        <input type="text" th:field="*{status}"
                               name="status" placeholder="Status"/>
                    </label>
                    <label class="form-label-style">
                        <input type="checkbox" th:field="*{testUser}"
                               name="testUser" placeholder="Test User"/>
                        <span class="form-span-checkbox">Test User</span>
                    </label>
                    <label><div>Registered On</div>
                        <input type="text" 
                               th:value="${user.registeredOn != null ? #dates.format(user.registeredOn, 'yyyy-MM-dd HH:mm:ss') : ''}"
                               placeholder="Registered On" readonly
                               tabindex="-1" onfocus="this.blur()"
                               onkeydown="return false;" onpaste="return false;" oncut="return false;"/>
                    </label>
                    <label><div>Country Code</div>
                        <input type="text" th:field="*{countryCode}"
                               name="countryCode" placeholder="Country Code"/>
                    </label>
                    <label><div>Phone Number</div>
                        <input type="text" th:field="*{phoneNumber}"
                               name="phoneNumber" placeholder="Phone Number"/>
                    </label>
                    <label><div>Date of Birth</div>
                        <input type="date" th:field="*{dob}" name="dob" 
                               placeholder="Date of Birth"/>
                    </label>
                    <label><div>Referral Code</div>
                        <input type="text" th:field="*{referralCode}"
                               name="referralCode" placeholder="Referral Code"/>
                    </label>
                </div>

                <div class="button-section"> <!-- div:button-section-start -->
                    <input type="submit" name="Submit"/>
                    <a class="button" th:href="@{/users}">Cancel</a>
                </div> <!-- div:button-section-end -->
            </form>

        </div>

    </div> <!-- pageBody:end -->
</th:block> <!-- bodyContents:end-->

</html>