<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/default}"
      with:title="'Upload Users'">

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    &lt;!&ndash; css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
<!--    <link rel="stylesheet" type="text/css" media="all" href="../../../../static/css/styles.css"-->
<!--          th:href="@{/css/styles.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" media="all" href="../../../../static/css/form-styles.css"-->
<!--          th:href="@{/css/form-styles.css}"/>-->

<!--    &lt;!&ndash; Title &ndash;&gt;-->
<!--    <title>Upload Users</title>-->
<!--</head>-->

<!--<body>-->

<!--&lt;!&ndash; Body Container &ndash;&gt;-->
<!--<div class="body-container">-->

<!-- bodyContents:start-->
<th:block layout:fragment="bodyContents"> <!-- bodyContents:start-->
    <div class="page-body"> <!-- pageBody:start -->

        <!-- H2 -->
<!--        <h2>Upload Users</h2>-->

        <div class="contents"> <!-- div:contents-start -->
            <!-- Form -->
            <div class="form-style">
                <h2 class="center-align">Upload Users</h2>
                <form action="#" th:action="@{/users/upload}" method="POST" enctype="multipart/form-data">
                    <div class="section"><span>*</span>Upload Users</div>
                    <div class="inner-wrap">
                        <label><div>Upload</div>
                            <input type="file" name="file" placeholder="Users File"/>
                        </label>
                    </div>

                    <div class="button-section">
                        <input type="submit" name="Submit"/>
                    </div>
                </form>
            </div>

            <!--Back Button -->
<!--            <div>-->
<!--                <a class="button" th:href="@{/users/list}">Back</a>-->
<!--            </div>-->

        </div> <!-- div:contents-end -->

    </div> <!-- pageBody:end -->
</th:block> <!-- bodyContents:end-->

<!-- Footer -->
<!--<div th:replace="~{fragments/footer::footer}">Footer</div>-->
<footer class="footer">
    <div th:insert="~{fragments/footer::footer}"></div>
</footer>

</html>
