<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/default}"
      with:title="'Add/Update Role'">

<!-- bodyContents:start-->
<th:block layout:fragment="bodyContents"> <!-- bodyContents:start-->
    <div class="page-body"> <!-- pageBody:start -->

    <!-- Form -->
        <div class="form-style">
            <h2 class="center-align">
                <!-- if role.getId() is null -->
                <span th:text="${role.id == null} ? 'Create ' : 'Update '"/> Role
            </h2>
            <form action="#" th:action="@{/roles/save}" th:object="${role}" method="post">
                <div class="section"><span>*</span>Role Details</div>
                <input type="hidden" name="id" th:field="*{id}">
                <div class="inner-wrap">
                    <label><div>Name</div>
                        <input type="text" th:field="*{name}" name="name" placeholder="Name"/>
                    </label>
                    <label><div>Status</div>
                        <input type="text" th:field="*{status}" name="status" placeholder="Status"/>
                    </label>
                </div>

                <div class="button-section"> <!-- div:button-section-start -->
                    <input type="submit" name="Submit"/>
                    <a class="button" th:href="@{/roles}">Cancel</a>
                </div> <!-- div:button-section-end -->
            </form>

        </div>

    </div> <!-- pageBody:end -->
</th:block> <!-- bodyContents:end-->

</html>
