<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/default}"
      with:title="'Add/Update City'">

<!-- bodyContents:start-->
<th:block layout:fragment="bodyContents"> <!-- bodyContents:start-->
    <div class="page-body"> <!-- pageBody:start -->

        <!--/* only th:fragment form is returned for an XMLHttpRequest */-->
        <th:block th:fragment="form">
            <!-- Form -->
            <div class="form-style">
                <h2 th:text="${city.id == null} ? 'Create City' : 'Update City'"></h2>
                <form th:action="@{/cities/save}" th:object="${city}" method="post">
                    <div class="section"><span>*</span>City Details</div>
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="inner-wrap">
                        <label><div>Name</div>
                            <input type="text" th:field="*{name}" name="name" placeholder="Name"/>
                        </label>
                        <label><div>Founded In</div>
                            <input type="number" th:field="*{foundedIn}" name="foundedIn" 
                                   placeholder="Founded In" step="1"
                                   min="-2147483648" max="2147483647"/>
                        </label>
                        <label><div>Population</div>
                            <input type="number" th:field="*{population}" name="population" 
                                   placeholder="Population" step="1"
                                   min="0" max="2147483647"/>
                        </label>
                    </div>

                    <div class="button-section"> <!-- div:button-section-start -->
                        <input type="submit" name="Submit"/>
                        <a class="button" th:href="@{/cities}">Cancel</a>
                    </div> <!-- div:button-section-end -->
                </form>
            </div>
        </th:block>

    </div> <!-- pageBody:end -->
</th:block> <!-- bodyContents:end-->

</html>