<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:insert="~{fragments/head}"/>
<body>
<th:block layout:replace="~{fragments/navigation}"/>
<h1>Header in default layout!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block layout:insert="~{fragments/title}"/>
            <th:block layout:fragment="content"/>
        </div>
    </div>
</div>
<th:block layout:fragment="body_end"/>
<th:block layout:replace="~{fragments/scripts :: end}"/>
<!--<div th:replace="fragments/header :: header">Header goes here!</div>-->
<!--<div th:replace="${view} :: content">Content goes here!</div>-->
<!--<div th:replace="fragments/footer :: footer">Footer goes here!</div>-->
</body>
</html>
