<nav class="navbar navbar-expand-sm navbar-light" xmlns:th="http://www.thymeleaf.org"> <!-- navbar:start-->
    <div class="container-fluid"> <!-- container-fluid:start-->
        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="navbar-collapse-menu"> <!-- navbar-collapse:start-->
            <!--left side nav-bar-->
            <div class="navbar-header"> <!-- left-side nav-bar:start-->
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse-menu" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar" aria-hidden="true"></span>
                    <span class="icon-bar" aria-hidden="true"></span>
                    <span class="icon-bar" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">eVantage</a>
<!--                <a class="navbar-brand" th:href="@{/}" title="Home">-->
<!--                    <img class="logo" th:src="@{/images/logo.png}" src="../../static/images/logo.png"-->
<!--                         alt="The eVantage Application" title="The eVantage Application"/> eVantage</a>-->
            </div> <!-- left-side nav-bar:end-->

            <!--nav-bar-->
            <ul class="nav navbar-nav"> <!-- nav-bar:start-->
                <!--Roles-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Roles</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/roles/list}">List Roles</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/roles/create}">Add Role</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/roles/upload}">Upload Roles</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/roles/download?fileType=csv}">Download Roles (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/roles/download?fileType=excel}">Download Roles (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Users-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Users</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/users/list}">List Users</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/users/create}">Add User</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/users/upload}">Upload Users</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/users/download?fileType=csv}">Download Users (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/users/download?fileType=excel}">Download Users (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Tasks-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Tasks</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/tasks/list}">List Tasks</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/tasks/create}">Add Task</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/tasks/upload}">Upload Tasks</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/tasks/download?fileType=csv}">Download Tasks (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/tasks/download?fileType=excel}">Download Tasks (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Marketing-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Marketing</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/marketing/list}">List Marketing</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/marketing/create}">Add Marketing</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/marketing/upload}">Upload Marketing</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/marketing/download?fileType=csv}">Download Marketing (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/marketing/download?fileType=excel}">Download Marketing (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Content-Taxonomy-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Content-Taxonomy</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/content-taxonomy/list}">List Content-Taxonomies</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/content-taxonomy/create}">Add Content-Taxonomy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/content-taxonomy/upload}">Upload Content-Taxonomies</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/content-taxonomy/download?fileType=csv}">Download Content-Taxonomies (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/content-taxonomy/download?fileType=excel}">Download Content-Taxonomies (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Cities-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Cities</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/cities/list}">List Cities</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/cities/create}">Add City</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/cities/upload}">Upload Cities</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/cities/download?fileType=csv}">Download Cities (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/cities/download?fileType=excel}">Download Cities (.xlsx)</a></li>
                    </ul>
                </li>

            </ul> <!-- nav-bar:end-->

            <!--right side nav-bar-->
            <ul class="nav navbar-nav navbar-right"> <!-- right-side nav-bar:start-->
                <!--Home-->
                <li class="nav-item">
                    <a th:href="@{/home}">Home</a>
                </li>

                <!--Account-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Account</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/accounts/profile}">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/accounts/logout}">Logout</a></li>
                    </ul>
                </li>

            </ul> <!-- right-side nav-bar:end-->

        </div> <!-- navbar-collapse:end-->

    </div> <!-- container-fluid:end-->

</nav> <!-- navbar:end-->
