<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.thymeleaf.org"> <!-- navbar:start-->
    <div class="container-fluid"> <!-- container-fluid:start-->
        <!--left side nav-bar-->
        <a class="navbar-brand" th:href="@{/}" title="eVantage">
            <span class="logo-wrapper">
                <img class="d-inline-block align-text-top logo" th:src="@{/images/logo.png}"
                     src="../../static/images/logo.png" alt="eVantage" title="eVantage"/>
            </span>
            eVantage
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse-menu" aria-controls="navbar-collapse-menu"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="navbar-collapse-menu"> <!-- navbar-collapse:start-->
            <!--nav-bar-->
            <ul class="navbar-nav me-auto"> <!-- nav-bar:start-->
                <!--Roles-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="rolesDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Roles</a>
                    <ul class="dropdown-menu" aria-labelledby="rolesDropdown">
                        <li><a class="dropdown-item" th:href="@{/roles/list}">List Roles</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/roles/create}">Add Role</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/roles/upload}">Upload Roles</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/roles/download?fileType=csv}">Download Roles (.csv)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/roles/download?fileType=excel}">Download Roles (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Users-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Users</a>
                    <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                        <li><a class="dropdown-item" th:href="@{/users/list}">List Users</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/users/create}">Add User</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/users/upload}">Upload Users</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/users/download?fileType=csv}">Download Users (.csv)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/users/download?fileType=excel}">Download Users (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Tasks-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="tasksDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Tasks</a>
                    <ul class="dropdown-menu" aria-labelledby="tasksDropdown">
                        <li><a class="dropdown-item" th:href="@{/tasks/list}">List Tasks</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/tasks/create}">Add Task</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/tasks/upload}">Upload Tasks</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/tasks/download?fileType=csv}">Download Tasks (.csv)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/tasks/download?fileType=excel}">Download Tasks (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Marketing-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="marketingDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Marketing</a>
                    <ul class="dropdown-menu" aria-labelledby="marketingDropdown">
                        <li><a class="dropdown-item" th:href="@{/marketing/list}">List Marketing</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/marketing/create}">Add Marketing</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/marketing/upload}">Upload Marketing</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/marketing/download?fileType=csv}">Download Marketing (.csv)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/marketing/download?fileType=excel}">Download Marketing (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Content-Taxonomy-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contentTaxonomyDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Content-Taxonomy</a>
                    <ul class="dropdown-menu" aria-labelledby="contentTaxonomyDropdown">
                        <li><a class="dropdown-item" th:href="@{/content-taxonomy/list}">List Content-Taxonomies</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/content-taxonomy/create}">Add Content-Taxonomy</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/content-taxonomy/upload}">Upload Content-Taxonomies</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/content-taxonomy/download?fileType=csv}">Download Content-Taxonomies (.csv)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/content-taxonomy/download?fileType=excel}">Download Content-Taxonomies (.xlsx)</a></li>
                    </ul>
                </li>

                <!--Cities-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="citiesDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Cities</a>
                    <ul class="dropdown-menu" aria-labelledby="citiesDropdown">
                        <li><a class="dropdown-item" th:href="@{/cities/list}">List Cities</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/cities/create}">Add City</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/cities/upload}">Upload Cities</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/cities/download?fileType=csv}">Download Cities (.csv)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/cities/download?fileType=excel}">Download Cities (.xlsx)</a></li>
                    </ul>
                </li>

            </ul> <!-- nav-bar:end-->

            <!--right side nav-bar-->
            <ul class="navbar-nav ms-auto"> <!-- right-side nav-bar:start-->
                <!--Home-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/home}">Home</a>-->
<!--                </li>-->

                <!--Account-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Account</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" th:href="@{/accounts/profile}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/accounts/logout}">Logout</a></li>
                    </ul>
                </li>

            </ul> <!-- right-side nav-bar:end-->

        </div> <!-- navbar-collapse:end-->

    </div> <!-- container-fluid:end-->

</nav> <!-- navbar:end-->
