<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/default}"
      with:title="'Add/Update Task'">

<!-- bodyContents:start-->
<th:block layout:fragment="bodyContents"> <!-- bodyContents:start-->
    <div class="page-body"> <!-- pageBody:start -->

        <!-- Form -->
        <div class="form-style">
            <h2 class="center-align">
                <!-- if task.getId() is null -->
                <span th:text="${task.id == null} ? 'Create ' : 'Update '"/> Task
            </h2>
            <form action="#" th:action="@{/tasks/save}" th:object="${task}" method="post">
                <div class="section"><span>*</span>Task Details</div>
                <input type="hidden" name="id" th:field="*{id}">
                <div class="inner-wrap">
                    <label>User ID
                        <input type="text" th:field="*{userId}" name="userId" placeholder="User ID"/>
                    </label>
                    <label>Title
                        <input type="text" th:field="*{title}" name="title" placeholder="Title"/>
                    </label>
                    <label>Priority
                        <input type="text" th:field="*{priority}" name="priority" placeholder="Priority"/>
                    </label>
                    <label>Start Date (yyyy-mm-dd)
                        <input type="text" th:field="*{startDate}" name="startDate" placeholder="Start Date (yyyy-mm-dd)"/>
                    </label>
                    <label>End Date (yyyy-mm-dd)
                        <input type="text" th:field="*{endDate}" name="endDate" placeholder="End Date (yyyy-mm-dd)"/>
                    </label>
                    <label>Status
                        <input type="text" th:field="*{status}" name="status" placeholder="Status"/>
                    </label>
                    <label>Description
                        <input type="text" th:field="*{description}" name="Description" placeholder="Description"/>
                    </label>
                </div>

                <div class="button-section"> <!-- div:button-section-start -->
                    <input type="submit" name="Submit"/>
                    <a class="button" th:href="@{/tasks}">Cancel</a>
                </div> <!-- div:button-section-end -->
            </form>

        </div>

    </div> <!-- pageBody:end -->
</th:block> <!-- bodyContents:end-->

</html>
